@import 'tailwindcss';

:root {
      --background-1: #111;
      --background-2: #1e2939;
      --text-color-1: #fff;
      --accent-color-1: var(--background-2);
      --accent-color-2: var(--background-1);
}

body {
      margin: 0;
      padding: 0;
      font-family: 'Saira', sans-serif;
      background: var(--background-1);
      color: var(--text-color-1);

      overflow-x: hidden;
      overflow-y: auto;
}

::-webkit-scrollbar {
      width: 10px;
}

::-webkit-scrollbar-track {
      background: var(--background-1);
}

::-webkit-scrollbar-thumb {
      background: #25344b;
}

button {
      cursor: pointer;
}

.floating-anim {
      animation-name: floating-anim;
      animation-duration: 2s;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
}

.floating-anim-low {
      animation-name: floating-anim-low;
      animation-duration: 3s;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
}

@keyframes floating-anim {
      from {
            transform: translateY(-5%);
      }
      to {
            transform: translateY(15%);
      }
}

@keyframes floating-anim-low {
      from {
            transform: translateY(-10%);
      }
      to {
            transform: translateY(0%);
      }
}